<nav class="navbar navbar-expand-lg main-navigation fixed-top">

  <mat-toolbar color="accent">
    <span>Han's Cantina of Misfit Items</span>
  </mat-toolbar>

  <mat-toolbar color="primary">
    <span class="cell" routerLink='/orders' > All Orders  </span>
    <span >   </span>
    <span class="cell" routerLink='/customers' > Customers  </span>
    <span >   </span>
    <span class="cell" routerLink='/addCustomer' > New Customer  </span>
    <span >   </span>
    <span class="cell" routerLink='/addItem' > New Item  </span>
    <span >   </span>
    <span class="cell" routerLink='/newOrder' > New Order  </span>
    <span >   </span>
  </mat-toolbar>
</nav>
